@inject NavigationManager NavigationManager

<FluentDialogBody>
    <h3>Item @Content.Name</h3>
    <p>This is an resum of all your assets</p>

    <p>more data and actions are made and include</p>

    @* <FluentButton Appearance="Appearance.Accent" OnClick="GotoItemManage">Oversee</FluentButton> *@
</FluentDialogBody>
