@using WKeeper.Data.Services.Enterprices.Interfaces
@inject NavigationManager NavigationManager

@inject IEnterpriceService EnterpriceService

@inject AuthenticationStateProvider AuthenticationStateProvider

@inject UserManager<ApplicationUser> UserManager

@attribute [StreamRendering]

<AuthorizeView>
    <Authorized>
        @if (Enterprice is null)
        {
            <p><em>Loading...</em></p>
            <h1>Create one</h1>
        }
        else
        {
            <FluentLabel Typo="Typography.PageTitle">@Enterprice.Name</FluentLabel>
            <FluentLabel Typo="Typography.Body">@Enterprice.Description</FluentLabel>
            <small>@Enterprice.DateCreate</small>

            <FluentSpacer Width="2" />
            <FluentDivider />
            <FluentSpacer Width="2" />

            <EnterpricePlugins 
                WarehouseCount="@Enterprice.Warehouses.Count()"
            />

        }
    </Authorized>
    <NotAuthorized>
        Debes Logearte
    </NotAuthorized>
</AuthorizeView>
