@page "/settings"

@attribute [Authorize]

@inject IMessageService MessageService
@inject IDialogService DialogService

@* @inject IStringLocalizer<Lang> local *@

<PageTitle>@* @local["MenuSettings"] *@</PageTitle>

<div style="min-height: 250px;">

    <FluentStack>
        <FluentGrid>
            <FluentGridItem>
                <DesignThemeComponent />
            </FluentGridItem>
            <FluentGridItem>
                <CultureSelector />
            </FluentGridItem>
        </FluentGrid>
    </FluentStack>

    <FluentButton OnClick="@AddInNotificationCenter" Appearance="Appearance.Accent">Add in Notification Center</FluentButton>

    <FluentStack Style="margin: 20px 0px; padding: 30px; border: 1px solid var(--accent-fill-rest);"
                 HorizontalAlignment="HorizontalAlignment.Start">
    
    </FluentStack>
</div>
